* {
  box-sizing: border-box;
}
.Body {
  width: 100%;
  min-height: 100vh;
  background: -webkit-linear-gradient(
    top,
    rgba(5, 77, 129, 1) 0%,
    rgba(188, 224, 238, 1) 100%
  );
}

.routes {
  min-height: 61.8vh;
}

.footerp {
  background-color: black;
  color: aliceblue;
}
