* {
  box-sizing: border-box;
}
.Body {
  width: 100%;
  min-height: 100vh;
  background: -webkit-linear-gradient(
    top,
    rgba(5, 77, 129, 1) 0%,
    rgba(188, 224, 238, 1) 100%
  );
}

.routes {
  min-height: 61.8vh;
}

.footerp {
  background-color: black;
  color: aliceblue;
  margin-top: 200px;
}
.btn-info {
  color: #fff;
  background-color: #064e82;
  border-color: #46b8da;
}
.timecontainer {
  position: absolute;
  right: 0;
  top: 110px;
  min-width: 10%;
}
.welcome-title {
  font-size: 50px;
  color: azure;
  text-align: center;
  margin-bottom: 20px;
}
