.column {
}

.row {
  display: flex;
}
.info {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.div-image {
}

.image-user {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 2px solid black;
}
.div-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: ghostwhite;
}
.btn-user {
  background-color: #5bc0de;
  margin-bottom: -10px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  margin-top: 10px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.div-annonce {
  text-align: center;
  border: 2px double #a8d7ef;
  width: 50%;
  margin-right: 50px;
}
.annonce-user {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: aqua;
  font-size: x-large;
}
.span {
  color: skyblue;
}
.checked {
  color: skyblue;
}

.the-star {
  width: 25px;
}

.rating-container {
  margin: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input {
  color: black;
}
.textarea {
  width: 60%;
  height: 60%;
  align-self: center;
}
