.event-title {
  font-size: 50px;
  color: azure;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.center-even {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.column-div {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  background: -webkit-linear-gradient(
    top,
    rgba(188, 224, 238, 1) 0%,
    rgba(5, 77, 129, 1) 100%
  );
  width: max-content;
}
.sous-title {
  display: flex;
  color: aqua;
  font-size: xx-large;
  height: 0px;
  margin-left: 30px;
  margin-bottom: 50px;
  justify-content: start;
}
.row-div {
  display: flex;
  margin-top: 50px;
  width: 100%;
  color: yellowgreen;
  margin-bottom: 30px;
}
.div-title {
  border: 1px solid black;
  margin-left: 20px;
  height: 35px;
  width: 152px;
  font-size: large;
  background-color: white;
  color: black;
  padding-top: 5px;
  border-left-width: 5px;
  padding: 5px 5px 5px 5px;
  width: auto;
}
.div-content {
  margin-left: 50px;
}
.div-content-des {
  margin-right: 10px;
  margin-left: 50px;
}

.input-des {
  width: 600px;
  height: 200px;
  color: black;
  font-size: large;
  font-family: sans-serif;
}
.btn-event {
  width: 70px;
  color: #080808;
  background: #ffffff;
  border: hidden;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.addFileBtn {
  color: black;
}
